[submodule "vim/vim.symlink/bundle/python-mode.git"]
	path = vim/vim.symlink/bundle/python-mode.git
	url = git://github.com/klen/python-mode.git
[submodule "vim/vim.symlink/bundle/vim-colors-solarized.git"]
	path = vim/vim.symlink/bundle/vim-colors-solarized.git
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim.symlink/bundle/syntastic.git"]
	path = vim/vim.symlink/bundle/syntastic.git
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/vim.symlink/bundle/vim-addon-mw-utils.git"]
	path = vim/vim.symlink/bundle/vim-addon-mw-utils.git
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/vim.symlink/bundle/tlib_vim.git"]
	path = vim/vim.symlink/bundle/tlib_vim.git
	url = git://github.com/tomtom/tlib_vim.git
[submodule "vim/vim.symlink/bundle/snipmate.git"]
	path = vim/vim.symlink/bundle/snipmate.git
	url = git://github.com/garbas/vim-snipmate.git
[submodule "vim/vim.symlink/bundle/snipmate-snippets.git"]
	path = vim/vim.symlink/bundle/snipmate-snippets.git
	url = git://github.com/scrooloose/snipmate-snippets.git
[submodule "vim/vim.symlink/bundle/salt-vim.git"]
	path = vim/vim.symlink/bundle/salt-vim.git
	url = git://github.com/saltstack/salt-vim.git
[submodule "vim/vim.symlink/bundle/vim-less.git"]
	path = vim/vim.symlink/bundle/vim-less.git
	url = git://github.com/groenewege/vim-less.git
[submodule "vim/vim.symlink/bundle/supertab.git"]
	path = vim/vim.symlink/bundle/supertab.git
	url = git://github.com/ervandew/supertab.git
[submodule "vim/vim.symlink/bundle/Command-T.git"]
	path = vim/vim.symlink/bundle/Command-T.git
	url = git://github.com/wincent/Command-T.git
[submodule "vim/vim.symlink/bundle/fugitive.git"]
	path = vim/vim.symlink/bundle/fugitive.git
	url = git://github.com/tpope/vim-fugitive.git
[submodule "vim/vim.symlink/bundle/minibufexpl.git"]
	path = vim/vim.symlink/bundle/minibufexpl.git
	url = git://github.com/fholgado/minibufexpl.vim.git
	ignore = dirty
[submodule "zsh/ohmyzsh.git"]
	path = zsh/ohmyzsh.git
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/vim.symlink/bundle/vim-scala.git"]
	path = vim/vim.symlink/bundle/vim-scala.git
	url = git://github.com/derekwyatt/vim-scala.git
[submodule "vim/vim.symlink/bundle/go.git"]
	path = vim/vim.symlink/bundle/go.git
	url = git://github.com/Blackrush/vim-gocode.git
