[submodule "vim/vim.symlink/bundle/vim-colors-solarized.git"]
	path = vim/vim.symlink/bundle/vim-colors-solarized.git
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule "vim/vim.symlink/bundle/syntastic.git"]
	path = vim/vim.symlink/bundle/syntastic.git
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/vim.symlink/bundle/fugitive.git"]
	path = vim/vim.symlink/bundle/fugitive.git
	url = git://github.com/tpope/vim-fugitive.git
[submodule "zsh/ohmyzsh.git"]
	path = zsh/ohmyzsh.git
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/vim.symlink/bundle/jedi.git"]
	path = vim/vim.symlink/bundle/jedi.git
	url = https://github.com/davidhalter/jedi-vim.git
[submodule "vim/vim.symlink/bundle/vim-go.git"]
	path = vim/vim.symlink/bundle/vim-go.git
	url = https://github.com/fatih/vim-go.git
[submodule "vim/vim.symlink/bundle/ctrlp.git"]
	path = vim/vim.symlink/bundle/ctrlp.git
	url = https://github.com/kien/ctrlp.vim.git
[submodule "vim/vim.symlink/bundle/neocomplete.git"]
	path = vim/vim.symlink/bundle/neocomplete.git
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "vim/vim.symlink/bundle/multiple-cursors.git"]
	path = vim/vim.symlink/bundle/multiple-cursors.git
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule "vim/vim.symlink/bundle/easymotion.git"]
	path = vim/vim.symlink/bundle/easymotion.git
	url = https://github.com/Lokaltog/vim-easymotion.git
[submodule "vim/vim.symlink/bundle/airline.git"]
	path = vim/vim.symlink/bundle/airline.git
	url = https://github.com/bling/vim-airline
[submodule "vim/vim.symlink/bundle/supertab.git"]
	path = vim/vim.symlink/bundle/supertab.git
	url = https://github.com/ervandew/supertab.git
[submodule "vim/vim.symlink/bundle/rust.git"]
	path = vim/vim.symlink/bundle/rust.git
	url = https://github.com/wting/rust.vim.git
