"*":
  "atom-material-ui":
    depth: true
    rippleAccentColor: true
    showTabIcons: "Show on all tabs"
  core:
    audioBeep: false
    disabledPackages: [
      "about"
      "background-tips"
      "bookmarks"
      "deprecation-cop"
      "go-to-line"
      "metrics"
      "open-on-github"
      "styleguide"
      "welcome"
      "language-python"
      "language-gfm"
    ]
    ignoredNames: [
      ".git"
      ".tx"
      ".DS_Store"
      "*.pyc"
      ".gitignore"
      "__pycache__"
      "target"
    ]
    projectHome: "~/Development"
    themes: [
      "nucleus-dark-ui"
      "atom-dark-fusion-syntax"
    ]
  editor:
    autoIndentOnPaste: false
    fontFamily: "Monaco for Powerline"
    fontSize: 17
    invisibles: {}
    preferredLineLength: 100
    softWrap: true
    tabLength: 4
  "exception-reporting":
    userId: "4a37235a-e117-0b9b-9c87-2f3364facc68"
  "git-diff":
    showIconsInEditorGutter: true
  "go-debug":
    panelInitialVisible: false
  "go-plus":
    goPath: "~/.golang/global"
    panelDisplayMode: "closed"
  linter: {}
  "linter-php": {}
  "linter-pylint":
    executablePath: "~/.virtualenvs/atom/bin/pylint"
    pythonPath: "~/.virtualenvs/atom"
    rcFile: "~/.pylintrc"
  "linter-ui-default": {}
  "markdown-preview": {}
  "merge-conflicts": {}
  "one-dark-ui": {}
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "spell-check": {}
  "sync-settings":
    _analyticsUserId: "3c1ae906-b17c-4623-8c38-79b04ad1318a"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "vim-mode": {}
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".editorconfig.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
