packages: [
  "atom-dark-fusion-syntax"
  "atom-grails"
  "autocomplete-go"
  "builder-go"
  "ex-mode"
  "go-config"
  "go-debug"
  "go-get"
  "go-plus"
  "godoc"
  "gofmt"
  "gometalinter-linter"
  "gorename"
  "language-groovy"
  "language-latex"
  "linter"
  "linter-php"
  "linter-pylint"
  "MagicPython"
  "merge-conflicts"
  "navigator-godef"
  "nucleus-dark-ui"
  "package-sync"
  "project-manager"
  "release-notes"
  "tester-go"
  "vim-mode"
]
