packages: [
  "atom-dark-fusion-syntax"
  "busy-signal"
  "editorconfig"
  "ex-mode"
  "go-debug"
  "go-plus"
  "go-signature-statusbar"
  "hyperclick"
  "intentions"
  "language-latex"
  "language-markdown"
  "language-mjml"
  "language-terraform"
  "linter"
  "linter-eslint"
  "linter-js-yaml"
  "linter-mjml"
  "linter-pylint"
  "linter-ui-default"
  "MagicPython"
  "mjml-preview"
  "nucleus-dark-ui"
  "package-sync"
  "project-manager"
  "release-notes"
  "split-diff"
  "terraform-fmt"
  "vim-mode"
]
