"*":
  "exception-reporting":
    userId: "4a37235a-e117-0b9b-9c87-2f3364facc68"
  welcome:
    showOnStartup: false
  core:
    audioBeep: false
    projectHome: "/Users/igalarzab/Development"
    disabledPackages: [
      "about"
      "background-tips"
      "bookmarks"
      "deprecation-cop"
      "go-to-line"
      "metrics"
      "open-on-github"
      "styleguide"
      "welcome"
      "language-python"
    ]
    ignoredNames: [
      ".git"
      ".tx"
      ".DS_Store"
      "*.pyc"
      ".gitignore"
      "__pycache__"
    ]
    themes: [
      "nucleus-dark-ui"
      "atom-dark-fusion-syntax"
    ]
  editor:
    invisibles: {}
    autoIndentOnPaste: false
    tabLength: 4
    fontFamily: "Monaco for Powerline"
    preferredLineLength: 100
    fontSize: 16
  "merge-conflicts": {}
  "vim-mode": {}
  "linter-pylint":
    executable: "/Users/igalarzab/.virtualenvs/atom/bin/pylint"
    rcFile: "/Users/igalarzab/.pylintrc"
    pythonPath: "/Users/igalarzab/.virtualenvs/atom"
  linter:
    gutterPosition: "Left"
    statusIconScope: "File"
    showErrorTabProject: false
    showErrorPanel: false
  "git-diff":
    showIconsInEditorGutter: true
  "spell-check": {}
  "atom-material-ui":
    depth: true
    rippleAccentColor: true
    showTabIcons: "Show on all tabs"
  "one-dark-ui": {}
  "tree-view":
    hideVcsIgnoredFiles: true
    hideIgnoredNames: true
  "linter-php": {}
  "go-plus":
    goPath: "~/.golang/global"
  "markdown-preview": {}
