auth.json
version.json
history.jsonl

sessions/
archived_sessions/
log/
skills/

# Temporal files
codex.configsymlink/prompts/speckit.*.md
codex.configsymlink/tmp/
codex.configsymlink/.codex-global-state.json
codex.configsymlink/.personality_migration
codex.configsymlink/AGENTS.md
codex.configsymlink/models_cache.json
codex.configsymlink/rules/default.rules
codex.configsymlink/sqlite/codex-dev.db
codex.configsymlink/vendor_imports/skills-curated-cache.json
